body{
    background-color: blue;
    display: flex;
    justify-content: center;
    margin:6%;
}


.game-boy{
    position: relative;
    margin: 10%;
    width: 30em;
    height: 40em;
    background-color: black;
    border-radius: 25%;
}
@media (max-width:700px){
    .game-boy {
    width: 22em;
    }
}
@media (max-width:500px){
    .game-boy{
        width:19em;
    }
}
@media (max-width:400px){
    .game-boy{
        width: 16em;
        height: 37em;
    }
        
    }
    @media (max-width:300px){
        .game-boy{
            width: 16em;
            height: 37em;
        }
            
        }
        @media (max-width:310px){
            .game-boy{
                width: 16em;
                height: 37em;
            }
                
            }

.borde-pantalla{
    position: absolute;
    width: 25em;
    height: 20em;
    top:2em;
    left:2.5em;
    background-color: rgb(75, 21, 254);
    border-radius: 20%;
}
@media (max-width:700px){
    .borde-pantalla {
    width: 17em;
    }
}
@media (max-width:500px){
    .borde-pantalla{
        width:14em;
    }
}
@media (max-width:400px){
    .borde-pantalla{
        width: 11em;
    }
        
    }
    @media (max-width:300px){
        .borde-pantalla{
            width: 10em;
            margin-left: -1.3em;
        }
            
        }
    
        @media (max-width:310px){
            .borde-pantalla{
                width: 10em;
                margin-left: -1.3em;
            }
                
            }
        

.pantalla{
    background-color: rgb(209, 255, 194);
    position: absolute;
    width: 25m;
    height: 16em;
    top:10%;
    left:13%;
}



.controles{
    width: 5.5em;
    height: 3.75em;
    bottom:26%;
    left:12%;
    position: absolute;

}

@media (max-width:400px){
    .controles{
        width: 3em;
        margin-left:0.5em;
    }
        
    }

.control1{
    position: absolute;
    width: 100%;
    height: 24%;
    top: 38%;
    background-color: brown;
    cursor: pointer;
}

.control2{
    position: absolute;
    width: 100%;
    height: 24%;
    top: 38%;
    background-color: brown;
    cursor: pointer;
    transform: rotate(90deg);
    transform-origin: center;
}

.botones{
    border-radius: 50%;
    bottom: 24%;
    right:20%;
    position: absolute;
    padding: 0.25em, 2em;
}
@media (max-width:400px){
    .botones{
        margin: -2em;
        margin-bottom: 1em;
    }
        
    }
    @media (max-width:300px){
        .botones{
            
            margin: -3em;
            margin-bottom: 0.8em;
        }
            
        }
        @media (max-width:310px){
            .botones{
                
                margin: -3em;
                margin-bottom: 0.8em;
            }
                
            }


#botonA{
    margin-bottom: 0.5em;
 
}
@media (max-width:400px){
    #botonA{
    margin: 1em;
    }
        
    }
   
    @media (max-width:300px){
        #botonA{
        margin: 0em;
        margin-right: 1.2em;
        }
            
        }
        @media (max-width:310px){
            #botonA{
            margin: 0em;
            margin-right: 1.2em;
            }
                
            }
           
.juego{
    position: absolute;
    width: 22em;
    height: 16em;
    top:10%;
    left:13%;
}
@media (max-width:700px){
    .juego {
    width: 15.7em;
    }
}
@media (max-width:500px){
    .juego{
        width: 13.5em;
    }
        
    }
    @media (max-width:400px){
        .juego{
            width: 10em;
            margin-left:0.5em;
        }
            
        }
    
        @media (max-width:300px){
            .juego{
                width: 8.5em;
                margin-left:0em;
            }
                
            }
        
            @media (max-width:310px){
                .juego{
                    width: 8.5em;
                    margin-left:0em;
                }
                    
                }
            

#imgchange{
    width: 100%;
    height: 100%;
    border-radius:3%;
    margin-left: 0.3em;
}




